fastapi
uvicorn[standard]

sqlalchemy
asyncpg
alembic

pydantic
pydantic-settings
email-validator

python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart

python-dotenv

celery
redis

openai

reportlab